<p id="notice"><%= notice %></p>

<h2 class ="product-name1">
  <strong><%= @product.name %></strong>
</h2>


<div id="featured-product-img">
    <%= image_tag @product.image %>
</div>
<div id ="featured-product-price">
    $<%= @product.formatted_price %>
</div>

<div id ="featured-product">
    <%= @product.description %>
</div>


<div id ="featured-product-cart">
<button class="add-to-cart" type="button" name="button">Add to Cart</button>
</div>

<% @product.reviews.each do |review| %>
  <div id ="featured-product">
    <h3>Reviews</h3>
    <strong><%= review.user.email %></strong><br>
    <%= review.comment %>
    <br>
    Added on: <%= review.created_at %>
  </div id ="featured-product">
<% end %>
<div id ="featured-product">
<h3>New Review</h3>
<%= render 'reviews/form' %>
</div>
<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
