<!DOCTYPE html>
<html>
  <head>
  	<meta name ="viewport" content="width=device-width, initial-scale = 1">
    <title>Sahara.com</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
     <link rel="stylesheet" type= "text/css" href="assets/normalize.css">
     <link rel="stylesheet" type= "text/css" href="style.css">
  </head>

  <body>
    <header class="nav-bar">
    <nav>
      <ul class="nav-bar__menu">
        <li class="nav-bar__menu-logo"><%= link_to 'SAHARA.com', root_path %></li>
        <%= form_tag("/search", method: "get") do %>
          <%= text_field_tag(:query,nil, placeholder: 'Search in Sahara')%>
        <% end %>
        <!-- <form action= "search" method ="get">
          <li class ="nav-bar__menu-item"><input type="text" class="nav-bar__menu-item-input" placeholder= "Search in Sahara" id = "query"/></li>
          <li class ="nav-bar__menu-item"><input type="submit" value="Submit"></li>
        </form> -->
        <% if user_signed_in? %>
        <li class="nav-bar__menu-welcome">Welcome, <%= current_user.email %></li>
        <li class ="nav-bar__menu-account"><%= link_to 'Account', edit_user_registration_path %></li>
        <li class ="nav-bar__menu-sign-out"><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
        <% else %>
        <li class ="nav-bar__menu-item"><%= link_to 'Login', new_user_session_path %></li>
        <li class ="nav-bar__menu-item"><%= link_to 'Sign up', new_user_registration_path %></li>
      <% end %>
      </ul>
    </nav>
  </header>
  <div id="slider">
  </div>
  <div id ="container">
    <%= yield %>
      <% flash.each do |name, msg| %>
        <%= content_tag(:div, msg, class: "alert alert-#{name}") %>
      <% end %>
  </div>
  <footer>
    <ul class="nav-bar__menu">
      <li class="nav-bar__menu-item"><a href="#">About</a></li>
    </ul>
  </footer>


  </body>
</html>
